@using ConFriend.Interfaces
@using ConFriend.Models
@using ConFriend.Services
@using Microsoft.AspNetCore.Http
@inject SessionService SessionService
@inject ICrudService<User> UserService
@inject ICrudService<Conference> ConferenceService;
@{
    UserService.Init(ModelTypes.User);
    ConferenceService.Init(ModelTypes.Conference);
    int? currentUserId = SessionService.GetUserId(Context.Session);
    int? currentConferenceId = SessionService.GetConferenceId(Context.Session);
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ConFriend</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div @*class="container"*@ style="margin-left: auto; margin-right: auto">
                <div class="row">
                    <a class="navbar-brand" style="margin-top: auto; margin-bottom: auto; margin-left: auto; margin-right: 0" asp-area="" asp-page="/Index">ConFriend</a>
                    @if (currentConferenceId != null)
                    {
                        <a class="navbar-brand" style="margin-top: auto; margin-bottom: auto; margin-left: 0; margin-right: 1em" asp-area="" asp-page="">&nbsp;-&nbsp;@ConferenceService.GetFromId((int)currentConferenceId).Result.Name</a>
                    }
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            @*<li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                </li>*@
                            <li class="dropdown">
                                <button class="dropbtn">Events</button>
                                <div class="dropdown-content">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Events/EventIndex">Event-liste</a>
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Events/CreateEvent">Opret event</a>
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Admin/Theme/ThemeList">Themes</a>
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Admin/EventThemeTest/Index">Events-Themes</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <button class="dropbtn">Rooms</button>
                                <div class="dropdown-content">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Admin/FeatureTest/Index">Features</a>
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Admin/RoomTest/Index">Rooms</a>
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Admin/RoomSeatCategory/RoomSeatCateList">Rooms-SeatCategories</a>
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Admin/SeatCategory/Index">SeatCategories</a>
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Admin/SetCatTakenTest/Index">SeatCategoriesTaken</a>
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Admin/RoomFeatureTest/Index">Rooms-Features</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <button class="dropbtn">Venues</button>
                                <div class="dropdown-content">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Admin/VenuePages/VenueIndex">Venues</a>
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Admin/FloorTest/Index">Floors</a>
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Admin/ConferencePages/ConferenceIndex">Conferences</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <button class="dropbtn">Users</button>
                                <div class="dropdown-content">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Admin/UserPages/UserIndex">Users</a>
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Admin/Speaker/Speakerlist">Speakers</a>
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Admin/Enrollment/Enrollment">Enrollments</a>
                                    <a class="nav-link text-dark" asp-area="" asp-page="/UCBindingPages/CreateBinding">Opret konference-bruger tilknytning</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    @if (currentUserId != null)
                    {
                        <a class="navbar-brand" style="margin-top: auto; margin-bottom: auto; margin-left: 1em" asp-area="" asp-page="">@UserService.GetFromId((int) currentUserId).Result.Email</a>
                        <a class="navbar-brand" style="margin-top: auto; margin-bottom: auto; margin-left: 1em" asp-area="" asp-page="/Login/Logout">Log ud</a>
                    }
                    else
                    {
                        <a class="navbar-brand" style="margin-top: auto; margin-bottom: auto; margin-left: 1em" asp-area="" asp-page="/Login/Login">Log ind</a>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div @*class="container"*@ style="width: 80em; margin-left: auto; margin-right: auto">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - ConFriend - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", false)
</body>
</html>