@page
@model ConFriend.Pages.Admin.FloorTest.ImageModel
@{
}

<html>
<head>
    <title>Image Upload</title>
</head>
<body>
<form method="post" enctype="multipart/form-data">
    <legend> Upload Image </legend>
    <label for="Image">Image</label>
    <input type="file" asp-for="Upload" />
    <input type="submit" />
</form>
<h1>Uploaded Image</h1>
@if (Model.Floor != null)
{
    @if (Model.Floor.Image != null)
    {
        <div>
            <img src="~/floors/@Model.Floor.Image" alt="image" />
        </div>
    }
}
<div>    
    <a asp-page="Index">Back to index</a>
</div>
</body>
</html>