@page "{hid?}/{id?}"
@model ConFriend.Pages.UserPages.ChangePasswordModel


<form method="post">

    <div class="form-group">
        <input asp-for="UserName" value="@Model.UserName" placeholder="Bruger navn" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>

    @if (Model.IsNewUser)
    {
        <div class="form-group">
            <input asp-for="UserEmail" value="@Model.UserEmail" placeholder="Email" class="form-control" />
            <span asp-validation-for="UserEmail" class="text-danger"></span>
        </div>
    }
    else
    {
        <div class="form-group">

            <input asp-for="CurrentPassword" placeholder="Nuværende kodeord" class="form-control" />
            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
        </div>
    }


    @if (Model.WrongPassword == true)
    {
        <p class="text-danger">Forkert kodeord.</p>
    }
    <div class="form-group">
        <input asp-for="NewPassword" placeholder="Nyt kodeord" class="form-control" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input asp-for="NewPasswordRepeat" placeholder="Gentag kodeord" class="form-control" />
        <span asp-validation-for="NewPasswordRepeat" class="text-danger"></span>
    </div>
    <div class="form-group">
        <p>Split med komma "tet hved dør,vinduplads .."</p>
        <input asp-for="UserPrefs" value="@Model.UserPrefs" placeholder="Prefs" class="form-control" />
        <span asp-validation-for="UserPrefs" class="text-danger"></span>
    </div>
    <div class="form-group">
        @if (Model.IsNewUser)
        {
            <button type="submit" class="btn btn-primary">Oprat Bruger</button>
        }
        else
        {
            <button type="submit" class="btn btn-primary">Skift kode</button>
        }
    </div>
</form>

<div class="row">
    @if (Model.PasswordUpdated == true)
    {
        <p class="text-success">Dit kodeord er blevet opdateret.</p>
    }
    else if (Model.PasswordUpdated == true)
    {
        <p class="text-danger">Fejl. Dit kodeord blev ikke opdateret. Prøv igen senere.</p>
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}