@page "{htrn?}"
@model ConFriend.Pages.ThemeListModel
@{
    ViewData["Title"] = "Speakers List";
}
<div>
    <a asp-page="/Admin/Speaker/speakerCreate">Add New Speaker</a>
</div>

<h4 style="color:aquamarine"> Themes</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                Hotel No
            </th>
            <th>
                Name
            </th>
            <th>
                Address
            </th>

        </tr>
    </thead>
    <tbody>
        @if (Model.Speakers.Count() != 0)
        {

            @foreach (var item in Model.Speakers)
            {
                <tr>
                    <td>
                      

                    </td>
                    <td>
                      
                    </td>
                    <td>
                     
                    </td>
                    <td>
                      
                    </td>
                    <td>
                        <p>
                        
                        </p>
                    </td>
                    <td>
                        <form method="post">
                           
                        </form>
                    </td>
                </tr>
            }
        }
</table>