/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* Provide sufficient contrast against white background */
a {
    color: #AAA;
}
#HeadField {
    padding-top: 20px;
    
}
#NaviBar {
    height: 40px;
    padding-top: 10px;
}
#HeadFiller {
    height: 20%;
    color: #0366d6;
    padding-top: 75px;
    float: none;
}
#wrapper {
  
    color: #0366d6;
 
}

.login {
    color: #606060;
    display: inline-block;
}
#headcontent {
    max-width: 640px;
    min-width: 620px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
/* Dropdown Button */
.dropbtn {
    background-color: #AAA;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    text-decoration: none;
}
/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    /*padding: 12px 16px;*/
   
    display: block;
    
}

/* Change color of dropdown links on hover */
    .dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #BBB;
    color: #606060;
}

.grid-container-lokale {
    display: grid;
    grid-template-columns: 9% 8% 7% 75%;
     grid-template-rows: auto auto;
    grid-gap: 10px;
    /*padding: 10px;*/
}