@page
@model IndexModel
@{
    ViewData["Title"] = "Hjem";
}

<div class="text-center">
    

    @if (Model.User != null)
    {
        <h2 class="display-2">Velkommen @Model.User.FullName</h2>
        <h3 class="display-2" >Brugertype: @Model.UserType.ToString()</h3>
    }
    else
    {
        <h2 class="display-2">Velkommen gæst</h2>
        <h3 class="display-2">Brugertype: Gæst</h3>
    }
</div>