

@page
@model IndexModel

@{
    ViewData["Title"] = "Hjem";
 
}

@section Scripts {
    <script src="/js/MapDisplay.js"></script>

}
<div class="text-center">


    @if (Model.User != null)
    {
        <h4 class="display-4">Velkommen @Model.User.FullName</h4>
        <h4 class="display-4">Brugertype: @Model.UserType.ToString()</h4>
    }
    else
    {
        <h4 class="display-4">Velkommen gæst</h4>
        <h4 class="display-4">Brugertype: Gæst</h4>
    }

    <div id="MainBox">
        <p class="canvasText">Stueetage</p>
        <div id="content">
            <img id="imgsource" src="floors/ConfrindMain.PNG" alt="ConfrindMain">
            <canvas id="mycanvas"></canvas>
            <input hidden="true" id="drawpointsdisplayData" value="@Model.GetRoomData()"></input>
        </div>

    </div>

</div>